{% extends "layout/layout-question.html" %}

{% block question %}
  {{ govukRadios({
    idPrefix: "have-urn",
    name: "have-urn",
    fieldset: {
      legend: {
        text: "Do you have your unique reference number (URN)?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "You'll find this on any correspondence we've sent you about your grant, it's 9 numbers long and starts with a 1"
    },
    items: [{
        value: "yes",
        text: "Yes",
        checked: (data['have-urn'] == 'yes'),
        conditional: {
          html: govukInput({
            id: "urn",
            name: "urn",
            classes: "govuk-input--width-10",
            errorMessage: errors == 'urn' and {
              text: "The URN must be 9 numbers long and begin with a 1"
            },
            label: {
              text: "Unique reference number",
              classes: "govuk-!-font-weight-bold"
            },
            value: data.urn
          })
        }
      }, {
        value: "no",
        text: "No",
        checked: (data['have-urn'] == 'no')
      }]
  }) }}
{% endblock %}
