{% extends "layout-question.html" %}

{% block question %}
  {{ govukCheckboxes({
    idPrefix: "changes",
    name: "changes",
    fieldset: {
      legend: {
        text: "Have any of the following changed since our last contact with you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [{
      value: "name",
      text: "Your name"
    }, {
      value: "address",
      text: "Your address"
    }, {
      value: "job",
      text: "Your job (where you work or what you do)"
    }, {
      value: "work_contact",
      text: "Your workplace contact"
    }, {
      value: "support_cost",
      text: "The cost of your support"
    }, {
      value: "conditions_or_disabilities",
      text: "Your conditions or disabilities"
    }, {
      value: "impact",
      text: "The impact your conditions or disabilities have on your job"
    }, {
      value: "travel",
      text: "Your ability to travel to work"
    }]
  }) }}
{% endblock %}
