{% extends "layout-question.html" %}

{% block question %}
  {% set address %}
    {% call govukFieldset({
      legend: {
        text: "What is your new address?",
        classes: "govuk-fieldset__legend--m",
        isPageHeading: true
      }
    }) %}

      {{ govukInput({
        label: {
          html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
        },
        id: "chaange-address-line-1",
        name: "chaange-address-line-1",
        value: data['chaange-address-line-1']
      }) }}

      {{ govukInput({
        label: {
          html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
        },
        id: "chaange-address-line-2",
        name: "chaange-address-line-2",
        value: data['chaange-address-line-2']
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "chaange-address-town",
        name: "chaange-address-town",
        value: data['chaange-address-town']
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        id: "chaange-address-county",
        name: "chaange-address-county",
        value: data['chaange-address-county']
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "chaange-address-postcode",
        name: "chaange-address-postcode",
        value: (data.postcode or data['chaange-address-postcode'])
      }) }}

    {% endcall %}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "change-address",
    name: "change-address",
    fieldset: {
      legend: {
        text: "Has your address changed since our last contact with you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    items: [{
        value: "yes",
        text: "Yes",
        checked: (data['change-address'] == 'yes'),
        conditional: {
          html: address
        }
      }, {
        value: "no",
        text: "No",
        checked: (data['change-address'] == 'no')
      }]
  }) }}
{% endblock %}
