{% extends "layout-question.html" %}

{% block question %}
  {{ govukCheckboxes({
    idPrefix: "changes",
    name: "changes",
    fieldset: {
      legend: {
        text: "Have any of the following changed since our last contact with you?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--xl"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [{
      value: "name",
      text: "Your name",
      checked: true if 'name' in data.changes
    }, {
      value: "address",
      text: "Your address",
      checked: true if 'address' in data.changes
    }, {
      value: "job",
      text: "Your job (where you work or what you do)",
      checked: true if 'job' in data.changes
    }, {
      value: "work_contact",
      text: "Your workplace contact",
      checked: true if 'work_contact' in data.changes
    }, {
      value: "support_cost",
      text: "The cost of your support",
      checked: true if 'support_cost' in data.changes
    }, {
      value: "conditions_or_disabilities",
      text: "Your conditions or disabilities",
      checked: true if 'conditions_or_disabilities' in data.changes
    }, {
      value: "impact",
      text: "The impact your conditions or disabilities have on your job",
      checked: true if 'impact' in data.changes
    }, {
      value: "travel",
      text: "Your ability to travel to work",
      checked: true if 'travel' in data.changes
    }]
  }) }}
{% endblock %}
