{% extends "layout.html" %}

{% block beforeContent %}
  {% include 'includes/phase-banner.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Submit your renewal application</h1>
    <p>Do you want to submit your renewal application?</p>
    {{ govukButton({
      text: "Yes, send my renewal application",
      href: "/thank-you"
    }) }}
  </div>
  {% include 'includes/sidebar.html' %}
</div>
{% endblock %}
