{% extends "layout.html" %}

{% block beforeContent %}
  {% include 'includes/phase-banner.html' %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="#" method="post" autocomplete="off" novalidate>
      <span class="govuk-caption-xl">Question {{ questionNumber }} of {{ totalQuestions }}</span>
      {% block question %}{% endblock %}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
  {% include 'includes/sidebar.html' %}
</div>
{% endblock %}